.input{
    width: 600px;
    height: 30px;
    padding: 0 1em;
    border-radius: 8px;
    outline: none;
    border: 1px solid #2196f3;
}

.input:placeholder-shown{
    border-color: #000;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}