.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 280px;
    height: 100%;
    background:#fff;
    box-shadow: -2px 0 8px rgba(0, 0, 0, 0.1);
    transform: translateX(100%);
    transition: transform 0.3s ease;
    padding: 20px;
    z-index: 1001;
}

.open {
    transform: translateX(0);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.title {
    margin-bottom: 10px;
    font-size: 1.2rem;
    font-weight: 600;
}

.menuList {
    list-style: none;
    padding: 10px;
    margin: 0;
}

.menuItem {
    width: 100%;
    text-align: left;
    border: none;
    background: none;
    padding: 10px 0;
    font-size: 16px;
    cursor: pointer;
}

.submenu {
    list-style: none;
    padding-left: 15px;
    margin: 5px 0;
}

.submenu:last-child{
    margin-bottom: 0;
}

.submenuItem {
    padding: 6px 0;
    font-size: 14px;
    color: #333;
    transition: color 0.2s;
}

.submenuItem:hover {
    color: #007bff;
}


.button{
    width: 230px;
    height: 30px;
    border: none;
    outline: none;
    border-radius: 8px;
    background-color: #66affd;
    transition: all 0.2s;
}

.button:hover{
    background-color: #007bff;
    color: #fff;
}